NODE_ENV=unset
APP_PORT=unset
APP_NAME=unset
API_PREFIX=unset
WEBHOOK_SECRET=unset
WHITELIST_IPS=unset,unset,unset
EMAIL_DESTINATIONS=unset,unset

MAIL_USER=unset
MAIL_PASSWORD=unset
MAIL_SERVICE=unset
MAIL_DEFAULT_EMAIL=unset
MAIL_DEFAULT_NAME=unset

TELEGRAM_TOKEN=unset
CHAT_IDS=unset,unset

CANDLES_CAPTURE=30
MAIN_WIDTH=2560
MAIN_HEIGHT=1440
REAL_PAGE_LOAD_DELAY=20000
SHARED_CHART_URL_15M=unset
SHARED_CHART_URL_1H=unset
SHARED_CHART_URL_4H=unset

TV_USERNAME=unset
TV_PASSWORD=unset

DB_PATH=unset
