NODE_ENV=development
APP_PORT=80
APP_NAME="kangaroo-tg api"
API_PREFIX=api
WEBHOOK_SECRET=
WHITELIST_IPS=52.89.214.238,34.212.75.30,54.218.53.128,52.32.178.7
EMAIL_DESTINATIONS=

MAIL_USER=
MAIL_PASSWORD=
MAIL_SERVICE=gmail
MAIL_DEFAULT_EMAIL=kangaroo-tg@gmail.com
MAIL_DEFAULT_NAME=kangaroo

TELEGRAM_TOKEN=
CHAT_IDS=
